<html>
    <head>
        <meta charset="utf-8" />
        <title>Enviando Dados</title>
    </head>

    <body>
        <h1>Cadastre a tecnologia:</h1>

        <form method="post" action="/cadastro/salvar">
            Categoria: <input type="text" name="categoria" /> <br />
            Conteudo: <input type="text" name="conteudo" /> <br />
            <input type="submit" />
        </form>
        
    </body>
</html>